.privacy-policy {
    padding-bottom: 20px;

    &__block-head {
        padding: 58px 58px 48px 58px;
        border-bottom: 1px solid rgba(27, 27, 41, 0.1);
    }

    &__block-text {
        padding: 48px 58px 58px 58px;
        color: $color-1;
        letter-spacing: -0.2px;
        opacity: 0.7;

        * {
            font-size: 18px;
            line-height: 1.45em;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding-left: 0;
        }

        p {
            margin: 0;
        }

        a {
            color: $color-1;
        }
    }

    .title {
        text-align: center;
        margin-top: 17px;
    }

    .main-wrapper {
        padding: 0;
    }
}