.reviews {
    padding: 20px 0;

    &__block-head {
        display: grid;
        grid-template-columns: minmax(320px, 535px) max-content;
        grid-column-gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper-reviews {
        display: grid;
        grid-row-gap: 20px;
        margin-top: 40px;
    }

    &__inner-review {
        display: grid;
        grid-column-gap: 20px;

        &--left {
            grid-template-columns: 383px minmax(100px, 1fr);
        }

        &--right {
            grid-template-columns: minmax(100px, 1fr) 383px;
        }
    }

    &__slider {

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
        }

        .swiper-slide {
            border-radius: 30px;
            overflow: hidden;
            height: 374px;
        }
    }

    &__btn-prev {
        left: 16px;
    }

    &__btn-next {
        right: 16px;
    }

    &__block-image-review {
        position: relative;
        height: 100%;

        .reviews__image-review {
            filter: blur(11px);
        }
    }

    &__block-leave-review {
        position: absolute;
        display: grid;
        align-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 26px;

        .btn {
            margin: auto auto 0 auto;
            width: 188px;
            min-height: 48px;

            &:hover {
                background-color: $main-color;
                border-color: $main-color;
            }
        }
    }

    &__leave-review-title {
        max-width: 143px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: -0.2px;
        line-height: 1.1em;
    }

    &__image-review {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__leave-review-btn.btn {
        display: none;
        width: 275px;
        min-height: 69px;
        margin-top: 12px;
    }

    .arrow {
        display: none;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
    }
}