.page {
    .swiper {
        position: relative;
    
        &__block-arrow {
            position: absolute;
            z-index: 1;
            right: 33px;
            bottom: 52px;
            display: grid;
            grid-template-columns: repeat(2, max-content);
            grid-column-gap: 16px;
        }
    
        .swiper-pagination {
            position: absolute;
            top: 47px;
            right: 33px;
            left: auto;
            height: max-content;
            width: max-content;

            &--theme--primary {
                .swiper-pagination-bullet {
                    margin: 0 3px;
                    border: 1px solid $main-color;
                    background-color: transparent;


                    &.swiper-pagination-bullet-active {
                        background-color: $main-color;
                    }
                }
            }

            &--theme--secondary {
                .swiper-pagination-bullet {
                    margin: 0 5px;
                    // border: none;
                    background-color: $color-3;


                    &.swiper-pagination-bullet-active {
                        background-color: $main-color;
                    }
                }
            }

            .swiper-pagination-bullet {
                opacity: 1;
                transition: background-color $transition-time;
            }
        }
    }
}