.modal {

    &--size--bg {
        &.hystmodal {
            .hystmodal {
                &__window {
                    border-radius: 60px;
                    max-width: 1360px;
                }

                &__close {
                    top: 58px;
                    right: 58px;
                }
            }
        }
    }

    &--size--sm {
        &.hystmodal {
            .hystmodal {
                &__window {
                    border-radius: 40px;
                    max-width: 477px;
                    padding: 62px 40px 40px 40px;
                }

                &__close {
                    top: 40px;
                    right: 40px;
                }
            }
        }
    }

    &__wrapper-content {
        display: grid;
        grid-row-gap: 6px;
    }

    &__title {
        text-align: center;
        font-weight: 500;
        @include adaptiv-font(16, 24);
        color: $color-1;
    }

    &__close-icon {
        width: 100%;
        height: 100%;
    }

    &__block-title {}

    &__inner-title {
        display: grid;
        grid-row-gap: 16px;
        justify-content: center;
    }

    &__block-title-title,
    &__block-title-description {
        color: $color-1;
        text-align: center;
    }

    &__block-title-title {
        @include adaptiv-font(58, 32);
        font-weight: 600;
        line-height: 1.22em;
    }

    &__block-title-description {
        max-width: 481px;
        margin: 0 auto;
        opacity: 0.7;
        @include adaptiv-font(18, 16);
        letter-spacing: -0.2px;
        line-height: 1.45em;
    }

    &__wrapper-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 601px;

        .modal__title {
            text-align: center;
        }
    }

    &__group-block-image {
        overflow: hidden;
        border-radius: 60px;
    }

    &__group-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__group-block-info {
        display: grid;
        grid-row-gap: 20px;
        justify-content: space-between;
        padding: 16px 58px 58px 58px;
    }

    &__group-text-info {
        margin-top: auto;
        color: $color-1;
        @include adaptiv-font(32, 16);
        font-weight: 500;
        line-height: 1.25em;
    }

    &__block-cards {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 56px;
    }

    &__cards-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }

    &__block-image {
        position: relative;
        height: 979px;
        overflow: hidden;
        border-radius: 60px;
    }

    &__block-image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &__block-image-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__block-image-block-info {
        position: relative;
        z-index: 1;
        display: grid;
        grid-row-gap: 20px;
        max-width: 752px;
        padding: 92px 33px;
        margin-left: auto;

        p {
            @include adaptiv-font(24, 16);
            font-weight: 500;
            margin: 0;
            line-height: 1.37em;
        }
    }


    &__form {
        margin-top: 49px;

        .textarea__block-textarea,
        .input__block-input {
            width: 100%;
        }

        .input {

            &--focus {
                .input {
                    &__placeholder {
                        transform: translate(0, -120%) scale(0.9);
                    }

                    &__input {
                        padding: 20px 49px 0 49px;
                    }
                }
            }

            &__input {
                text-align: left;
                padding: 20px 49px 0 49px;
            }

            &__placeholder {
                left: 49px;
                width: auto;
                transform: translate(0%, -50%);
            }
        }

        .textarea {
            &__textarea {
                text-align: left;
            }
        }

        .btn {
            width: 100%;
            min-height: 99px;
            margin-top: 32px;

            &__text {
                @include adaptiv-font(20, 16);
                font-weight: 500;
            }
        }

        .add-photo {
            margin-top: 12px;
        }

        .privacy-policy-label {
            margin-top: 8px;
        }
    }

    &__wrapper-inputs {
        display: grid;
        grid-row-gap: 8px;
    }

    &.hystmodal {
        .hystmodal {

            &__wrap {
                padding: 20px;
            }

            &__window {
                background: $main-color;
                width: 100%;
            }

            &__close {
                width: 68px;
                height: 68px;
                padding: 0;
                background-image: none;
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.6;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}