<section class="contacts">
    <div class="main-container max-width">
        <div class="main-wrapper">
            <div class="contacts__wrapper-title">
                <div class="logo">
                    <img src="./assets/images/logo-blue.svg" class="logo__image" alt="">
                </div>
                <div class="contacts__block-title">
                    <span class="contacts__title">Контакты</span>
                </div>
            </div>
            <div class="contacts__wrapper-contacts">
                <div class="contacts__block-contact">
                    <span class="contacts__title-contact">Телефон</span>
                    <a href="tel:79999999999" class="contacts__link link-reset">+7 (999) 999-99-99</a>
                </div>
                <div class="contacts__block-contact">
                    <span class="contacts__title-contact">Почта</span>
                    <a href="mail:mail@mail.com" class="contacts__link link-reset">mail@mail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>