<section class="info-block">
    <div class="main-container max-width">
        <div class="main-wrapper" style="background-image: url('./assets/images/products.jpg');">
            <div class="info-block__wrapper-info">
                <div class="info-block__wrapper-images">
                    <span class="info-block__images-title">Сочетаем вещества растительного и животного мира</span>
                    <div class="info-block__inner-images">
                        <div class="info-block__block-image">
                            <img src="./assets/images/image-1.jpg" class="info-block__image" alt="">
                        </div>
                        <div class="info-block__block-image">
                            <img src="./assets/images/image-2.jpg" class="info-block__image" alt="">
                        </div>
                        <div class="info-block__block-image">
                            <img src="./assets/images/image-3.jpg" class="info-block__image" alt="">
                        </div>
                        <div class="info-block__block-image">
                            <img src="./assets/images/image-4.jpg" class="info-block__image" alt="">
                        </div>
                        <div class="info-block__block-image">
                            <img src="./assets/images/image-5.jpg" class="info-block__image" alt="">
                        </div>
                        <div class="info-block__block-image">
                            <img src="./assets/images/image-6.jpg" class="info-block__image" alt="">
                        </div>
                    </div>
                </div>
                <div class="info-block__wrapper-tag">
                    <div class="info-block__inner-tag">
                        <div class="info-block__tag">
                            <span class="info-block__tag-text">Bio doc формула</span>
                        </div>
                        <div class="info-block__tag">
                            <span class="info-block__tag-text">Здоровья</span>
                        </div>
                    </div>
                    <div class="info-block__inner-tag">
                        <div class="info-block__tag">
                            <span class="info-block__tag-text">Молодости</span>
                        </div>
                        <div class="info-block__tag">
                            <span class="info-block__tag-text">Красоты</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block__wrapper-links">
                <a href="#" class="btn btn--size--md btn--theme--secondary">
                    <span class="btn__text">Подробнее о технологии</span>
                </a>
                <a href="#" class="btn btn--size--md btn--theme--tertiary">
                    <span class="btn__text">Подробнее о линейке</span>
                </a>
            </div>
        </div>
    </div>
</section>