<section class="list-products">
    <div class="main-container max-width">
        <div class="main-wrapper">
            <div class="product-card-preview" data-smooth-scrolling="#chitosan">
                <span class="product-card-preview__name">CHITOSAN</span>
                <div class="product-card-preview__block-image">
                    <img src="./assets/images/preview-product-1.png" class="product-card-preview__image" alt="">
                </div>
                <button class="product-card-preview__btn">
                    <span class="product-card-preview__btn-text">Далее</span>
                    <svg class="product-card-preview__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#round-arrow-down"/>
                    </svg>
                </button>
            </div>
            <div class="product-card-preview" data-smooth-scrolling="#chitosan-detox">
                <span class="product-card-preview__name">CHITOSAN DETOX</span>
                <div class="product-card-preview__block-image">
                    <img src="./assets/images/preview-product-2.png" class="product-card-preview__image" alt="">
                </div>
                <button class="product-card-preview__btn">
                    <span class="product-card-preview__btn-text">Далее</span>
                    <svg class="product-card-preview__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#round-arrow-down"/>
                    </svg>
                </button>
            </div>
            <div class="product-card-preview" data-smooth-scrolling="#laminsria">
                <span class="product-card-preview__name">LAMINARIA</span>
                <div class="product-card-preview__block-image">
                    <img src="./assets/images/preview-product-3.png" class="product-card-preview__image" alt="">
                </div>
                <button class="product-card-preview__btn">
                    <span class="product-card-preview__btn-text">Далее</span>
                    <svg class="product-card-preview__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#round-arrow-down"/>
                    </svg>
                </button>
            </div>
            <div class="product-card-preview" data-smooth-scrolling="#mollusk-extract">
                <span class="product-card-preview__name">MOLLUSK EXTRACT</span>
                <div class="product-card-preview__block-image">
                    <img src="./assets/images/preview-product-4.png" class="product-card-preview__image" alt="">
                </div>
                <button class="product-card-preview__btn">
                    <span class="product-card-preview__btn-text">Далее</span>
                    <svg class="product-card-preview__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#round-arrow-down"/>
                    </svg>
                </button>
            </div>
            <div class="product-card-preview" data-smooth-scrolling="#omega-3-6-9">
                <span class="product-card-preview__name">OMEGA 3-6-9</span>
                <div class="product-card-preview__block-image">
                    <img src="./assets/images/preview-product-5.png" class="product-card-preview__image" alt="">
                </div>
                <button class="product-card-preview__btn">
                    <span class="product-card-preview__btn-text">Далее</span>
                    <svg class="product-card-preview__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#round-arrow-down"/>
                    </svg>
                </button>
            </div>
            <div class="product-card-preview" data-smooth-scrolling="#scat-&-shark-mix">
                <span class="product-card-preview__name">SCAT & SHARK MIX</span>
                <div class="product-card-preview__block-image">
                    <img src="./assets/images/preview-product-6.png" class="product-card-preview__image" alt="">
                </div>
                <button class="product-card-preview__btn">
                    <span class="product-card-preview__btn-text">Далее</span>
                    <svg class="product-card-preview__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#round-arrow-down"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>