<div class="product-card-preview">
    <span class="product-card-preview__name">CHITOSAN</span>
    <div class="product-card-preview__block-image">
        <img src="./assets/images/product-2.png" class="product-card-preview__image" alt="">
    </div>
    <button class="product-card-preview__btn">
        <span class="product-card-preview__btn-text">Далее</span>
        <svg class="product-card-preview__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#round-arrow-down"/>
        </svg>
    </button>
</div>