<section class="reviews" data-reviews="main">
    <div class="main-container max-width">
        <div class="main-wrapper">
            <div class="reviews__block-head">
                <h2 class="title title--h2 title-reset">Что люди думают о нашем продукте</h2>
                @include('../ui/rating-group.html')
            </div>
            <div class="reviews__wrapper-reviews">
                <div class="reviews__inner-review reviews__inner-review--left">
                    <div class="block-text">
                        <span class="block-text__title">Кристина Чубайс</span>
                        <span class="block-text__text">
                            Чтобы сохранить пользу морских компонентов мы используем современные способы биотехнологической переработки. Мы ставим своей целью повышение биологической ценности и биодоступности ингредиентов
                        </span>
                    </div>
                    <div class="swiper reviews__slider" data-reviews="slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-1.jpg" class="reviews__image-review" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-2.jpg" class="reviews__image-review" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-3.jpg" class="reviews__image-review" alt="">
                            </div>
                        </div>
                        <button type="button" class="arrow reviews__btn-prev" data-reviews="btn-prev">
                            <svg class="arrow__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                            </svg>
                        </button>
                        <button type="button" class="arrow reviews__btn-next" data-reviews="btn-next">
                            <svg class="arrow__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="reviews__inner-review reviews__inner-review--right">
                    <div class="swiper reviews__slider" data-reviews="slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-1.jpg" class="reviews__image-review" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-2.jpg" class="reviews__image-review" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-3.jpg" class="reviews__image-review" alt="">
                            </div>
                        </div>
                        <button type="button" class="arrow reviews__btn-prev" data-reviews="btn-prev">
                            <svg class="arrow__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                            </svg>
                        </button>
                        <button type="button" class="arrow reviews__btn-next" data-reviews="btn-next">
                            <svg class="arrow__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                            </svg>
                        </button>
                    </div>
                    <div class="block-text">
                        <span class="block-text__title">Кристина Чубайс</span>
                        <span class="block-text__text">
                            Чтобы сохранить пользу морских компонентов мы используем современные способы биотехнологической переработки. Мы ставим своей целью повышение биологической ценности и биодоступности ингредиентов
                        </span>
                    </div>
                </div>
                <div class="reviews__inner-review reviews__inner-review--left">
                    <div class="block-text">
                        <span class="block-text__title">Кристина Чубайс</span>
                        <span class="block-text__text">
                            Чтобы сохранить пользу морских компонентов мы используем современные способы биотехнологической переработки. Мы ставим своей целью повышение биологической ценности и биодоступности ингредиентов
                        </span>
                    </div>
                    <div class="swiper reviews__slider" data-reviews="slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-1.jpg" class="reviews__image-review" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-2.jpg" class="reviews__image-review" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./assets/images/feedback-3.jpg" class="reviews__image-review" alt="">
                            </div>
                        </div>
                        <button type="button" class="arrow reviews__btn-prev" data-reviews="btn-prev">
                            <svg class="arrow__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                            </svg>
                        </button>
                        <button type="button" class="arrow reviews__btn-next" data-reviews="btn-next">
                            <svg class="arrow__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>