<section class="slider-products" data-slider-products="main">
    <div class="main-container max-width">
        @include('./section-logo.html')
        <div class="swiper slider-products__slider" data-slider-products="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-products__wrapper-info">
                        <div class="slider-products__block-info">
                            <span class="slider-products__info-title">Линейка биодобавок BIODOC</span>
                            <span class="slider-products__info-text">
                                Лечение заболеваний суставов, желудочно-кишечного тракта и сердечно-сосудистой системы, поддержание иммунитета, женского и мужского здоровья
                            </span>
                        </div>
                        <div class="slider-products__block-links">
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на WB</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на OZON</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на Сайте</span>
                            </a>
                        </div>
                    </div>
                    <div class="slider-products__block-image">
                        <img src="./assets/images/product-1.png" class="slider-products__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-products__wrapper-info">
                        <div class="slider-products__block-info">
                            <span class="slider-products__info-title">Линейка биодобавок BIODOC</span>
                            <span class="slider-products__info-text">
                                Лечение заболеваний суставов, желудочно-кишечного тракта и сердечно-сосудистой системы, поддержание иммунитета, женского и мужского здоровья
                            </span>
                        </div>
                        <div class="slider-products__block-links">
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на WB</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на OZON</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на Сайте</span>
                            </a>
                        </div>
                    </div>
                    <div class="slider-products__block-image">
                        <img src="./assets/images/product-1.png" class="slider-products__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-products__wrapper-info">
                        <div class="slider-products__block-info">
                            <span class="slider-products__info-title">Линейка биодобавок BIODOC</span>
                            <span class="slider-products__info-text">
                                Лечение заболеваний суставов, желудочно-кишечного тракта и сердечно-сосудистой системы, поддержание иммунитета, женского и мужского здоровья
                            </span>
                        </div>
                        <div class="slider-products__block-links">
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на WB</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на OZON</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на Сайте</span>
                            </a>
                        </div>
                    </div>
                    <div class="slider-products__block-image">
                        <img src="./assets/images/product-1.png" class="slider-products__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-products__wrapper-info">
                        <div class="slider-products__block-info">
                            <span class="slider-products__info-title">Линейка биодобавок BIODOC</span>
                            <span class="slider-products__info-text">
                                Лечение заболеваний суставов, желудочно-кишечного тракта и сердечно-сосудистой системы, поддержание иммунитета, женского и мужского здоровья
                            </span>
                        </div>
                        <div class="slider-products__block-links">
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на WB</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на OZON</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на Сайте</span>
                            </a>
                        </div>
                    </div>
                    <div class="slider-products__block-image">
                        <img src="./assets/images/product-1.png" class="slider-products__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-products__wrapper-info">
                        <div class="slider-products__block-info">
                            <span class="slider-products__info-title">Линейка биодобавок BIODOC</span>
                            <span class="slider-products__info-text">
                                Лечение заболеваний суставов, желудочно-кишечного тракта и сердечно-сосудистой системы, поддержание иммунитета, женского и мужского здоровья
                            </span>
                        </div>
                        <div class="slider-products__block-links">
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на WB</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на OZON</span>
                            </a>
                            <a href="#" class="btn btn--size--sm btn--theme--tertiary">
                                <span class="btn__text">Купить на Сайте</span>
                            </a>
                        </div>
                    </div>
                    <div class="slider-products__block-image">
                        <img src="./assets/images/product-1.png" class="slider-products__image" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper__block-arrow">
                <button type="button" class="arrow" data-slider-products="btn-prev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow" data-slider-products="btn-next">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
            <div class="swiper-pagination" data-slider-products="pagination"></div>
        </div>
    </div>
</section>