.hint-label {
    position: relative;
    width: max-content;
    height: max-content;

    &:hover &__block-text {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-50%, 0);
    }

    &__block-icon {}

    &__icon {
        width: 15px;
        height: 15px;
        
        use {
            stroke: $main-color;
        }
    }

    &__block-text {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 10px);
        width: 150px;
        padding: 10px;
        border-radius: 10px;
        background-color: $main-color;
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: transform $transition-time, opacity $transition-time, visibility $transition-time;
    }

    &__text {
        font-size: 14px;
        line-height: 1em;
        color: $color-1;
    }
}