@media screen and (max-width: 767px) {
    .section-logo {

        &__logo-text {
            width: 250px;
            height: 46px;
        }

        &__copyright {
            width: 19px;
            height: 19px;
        }

        .main-wrapper {
            grid-column-gap: 2px;
            grid-row-gap: 43px;
        }
    }

    .slider-products {
        &__image {
            width: 145px;
            height: 280px
        }

        &__link-more {
            width: 137px;
            min-height: 51px;
        }
    }

    .info-cards {
        &__info-card,
        &__image-card {
            border-radius: 35px;
        }

        &__group-card {
            grid-template-rows: repeat(2, 158px);
        }
    }

    .product-card {
        &__slider {
            height: 315px;
        }
    }

    .feedback {
        &__block-head {
            grid-template-columns: max-content;
            grid-row-gap: 16px;
        }

        &__block-title {
            padding: 8px 10px;
        }

        &__title {
            font-weight: 400;
        }

        &__subtitle {
            order: 1;
        }

        &__block-title {
            order: 2;
        }

        &__form {
            grid-row-gap: 24px;
        }

        &__inner-block {
            margin-top: 16px;
        }

        .btn[type=submit] {
            min-height: 69px;
            border-radius: 25px;
        }
    }

    .radio {
        &__text {
            min-height: 69px;
            border-radius: 25px;
        }
    }

    .input {
        &__block-input {
            height: 69px;
            border-radius: 25px;
        }
    }

    .reviews {
        &__wrapper-reviews {
            margin-top: 20px;
        }

        &__inner-review {

            &--left {
                grid-template-columns: 1fr minmax(100px, 1fr);
            }

            &--right {
                grid-template-columns: minmax(100px, 1fr) 1fr;
            }
        }

        &__slider {
            .swiper-slide {
                height: 300px;
            }
        }
    }

    .block-text {
        grid-row-gap: 16px;

        &__text {
            line-height: 1.2em;
        }
    }

    .page-not-found {

        &__block-info {
            grid-row-gap: 24px;
        }

        &__image {
            width: 320px;
            height: 162px;
        }

        .btn {
            margin-top: 30px;
        }
    }

    .product-card-preview {
        padding: 20px 30px 0 20px 30px;

        &__block-image {
            margin: 0 auto;
            width: 310px;
            height: 310px;
        }

        &__btn {
            display: grid;
        }
    }

    .list-products {

        .main-wrapper {
            grid-template-columns: 1fr;
            padding: 0;
            grid-row-gap: 0;
            overflow: hidden;
        }

        .product-card-preview {
            position: relative;
            overflow: hidden;
            // height: 97px;
            border-radius: 35px;
            transition: height $transition-time, transform $transition-time, padding $transition-time, margin-top $transition-time;

            &:not(:first-child) {
                padding: 52px 30px 0 30px;
                margin-top: -32px;
            }

            &.active {
                // height: 496px;
            }

            &:not(.active) {

                &:first-child {
                    .product-card-preview__name {
                        transform: translate(-50%, -50%);
                    }
                }

                &:not(:first-child) {
                    .product-card-preview__name {
                        transform: translate(-50%, 0);
                    }
                }

                .product-card-preview__name {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: calc(100% - 60px);
                }

                .product-card-preview__block-image {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }
            }

            &:nth-child(2n) {
                background-color: $color-4;

                &:hover {
                    background-color: $color-4;
                }
            }

            &:nth-child(2n+1) {
                &:hover {
                    background-color: $main-color;
                }
            }

            &__content {
                padding-bottom: 8px;
            }

            &__block-image {
                transition: opacity $transition-time, visibility $transition-time;
            }

            &__name {
                transition: width $transition-time, position $transition-time;
            }
        }
    }

    .modal {

        &--size--sm {
            &.hystmodal {
                .hystmodal {
                    &__window {
                        border-radius: 35px;
                        padding: 39px 30px 30px 30px;
                    }
    
                    &__close {
                        top: 30px;
                        right: 30px;
                    }
                }
            }
        }

        &__wrapper-content {
            grid-row-gap: 0;
        }

        &__inner-title {
            margin-top: 32px;
        }

        &__group-block-info {
            grid-row-gap: 16px;
        }

        &__group-text-info {
            font-weight: 400;
        }

        &__block-title-description {
            line-height: 1.2em;
        }

        &__cards-wrapper {
            grid-template-columns: 1fr;
            grid-row-gap: 8px;
        }

        &__wrapper-group {
            grid-template-columns: 1fr;
            height: max-content;

            .modal__title {
                text-align: left;
            }
        }

        &__group-block-image {
            height: 325px;
        }

        &__block-image {
            height: max-content;
        }

        &__block-image-block-info {
            padding: 30px;
            grid-row-gap: 24px;

            p {
                font-weight: 400;
                line-height: 1.2em;

                &:not(:first-child) {
                    padding-left: 30px;
                }
            }
        }

        &__form {
            margin-top: 33px;

            .input {
                height: 69px;

                &--focus .input__input {
                    padding: 20px 31px 0 31px;
                }

                &__input {
                    padding: 20px 31px 0 31px;
                }

                &__placeholder {
                    left: 31px;
                }
            }

            .textarea {

                &--focus .textarea__textarea {
                    padding: 50px 31px 0 31px;
                }
                
                &__block-textarea {
                    height: 241px;
                }
                
                &__textarea {
                    padding: 31px;
                }

                &__placeholder {
                    top: 30px;
                    left: 31px;
                }
            }

            .btn {
                min-height: 69px;
                border-radius: 25px;

                &__text {
                    font-weight: 400;
                }
            }
        }
    }

    .m-leave-review {
        &.modal {
            .modal {
                &__inner-title {
                    margin-top: 0;
                }
            }
        }
    }
}