<footer class="footer">
    <div class="main-container max-width">
        <div class="footer__wrapper-info">
            <div class="footer__wrapper-contacts">
                <a href="/" class="logo link-reset">
                    <img src="./assets/images/logo-white.svg" class="logo__image" alt="">
                </a>
                <div class="footer__inner-contacts">
                    <div class="footer__block-contact">
                        <span class="footer__title-contact">Телефон</span>
                        <a href="tel:79999999999" class="link link-reset">+7 (999) 999-99-99</a>
                    </div>
                    <div class="footer__block-contact">
                        <span class="footer__title-contact">Почта</span>
                        <a href="mail:mail@mail.com" class="link link-reset">mail@mail.com</a>
                    </div>
                </div>
            </div>
            <div class="footer__nav">
                <ul class="footer__nav-list list-reset">
                    <li class="footer__nav-li">
                        <a href="#" class="link link-reset">О бренде</a>
                    </li>
                    <li class="footer__nav-li">
                        <a href="#" class="link link-reset">Товары</a>
                    </li>
                    <li class="footer__nav-li">
                        <a href="#" class="link link-reset">Отзывы</a>
                    </li>
                    <li class="footer__nav-li">
                        <a href="#" class="link link-reset">Партнерам</a>
                    </li>
                    <li class="footer__nav-li">
                        <a href="#" class="link link-reset">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block-shops main-wrapper">
                <span class="footer__shops-title">Где можно приобрести нашу продукцию:</span>
                <div class="footer__inner-shops">
                    <a href="#" class="btn btn--size--md btn--theme--quaternary">
                        <span class="btn__text">Wildberries</span>
                    </a>
                    <a href="#" class="btn btn--size--md btn--theme--quaternary">
                        <span class="btn__text">OZON</span>
                    </a>
                    <a href="#" class="btn btn--size--md btn--theme--quaternary">
                        <span class="btn__text">Сайт</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__wrapper-copyright">
            <span class="footer__copyright">Bio doc все права защищены 2022</span>
            <a href="#" class="footer__link link-reset">Политика конфиденциальности</a>
            <a href="https://affetta.ru/" target="_blank" class="footer__link footer__link--developer link-reset">
                <span class="footer__link-developer-text">Сделано в Affetta</span>
                <svg class="footer__link-developer-icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#developer"/>
                </svg>
            </a>
        </div>
    </div>
</footer>