<header class="header" data-header="main">
    <div class="main-container max-width">
        <a href="/" class="logo link-reset">
            <img src="./assets/images/full-logo.svg" class="logo__image" alt="">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list list-reset">
                <li class="header__nav-li">
                    <a href="#" class="link link-reset">О бренде</a>
                </li>
                <li class="header__nav-li">
                    <a href="#" class="link link-reset">Товары</a>
                </li>
                <li class="header__nav-li">
                    <a href="#" class="link link-reset">Отзывы</a>
                </li>
                <li class="header__nav-li">
                    <a href="#" class="link link-reset">Партнерам</a>
                </li>
                <li class="header__nav-li">
                    <a href="#" class="link link-reset">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header__block-links">
            <a href="mail:mail@mail.com" class="link link-reset">mail@mail.com</a>
            <a href="tel:79999999999" class="link link-reset">+7 (999) 999-99-99</a>
        </div>
    </div>
</header>