// Colors

$main-color: #fff;

$color-1: #1B1B29;
$color-2: #707378;
$color-3: #2350C1;
$color-4: #F6F7F9;
$color-5: #232323;

// Fonts

$main-font: 'Inter';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;