// Colors

$main-color: #fff;

$color-1: #1B1B29;
$color-2: #707378;
$color-3: #2350C1;
$color-4: #F6F7F9;
$color-5: #232323;
$color-6: #E56757;
$color-7: #2DC5AE;
$color-8: #2350C1;
$color-9: #F1AD64;
$color-10: #08A286;
$color-11: #2E90D0;
$color-12: #E5E6E9;
$color-13: #9263D2;
$color-14: #FD8709;
$color-15: #1BADCC;
$color-16: #F266AE;
$color-17: #F44E39;
$color-18: #A9AEB2;

// Fonts

$main-font: 'Inter';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;